
#div0{
	width: 650px; height: 30px;
	margin-top: 10px; margin-left: 229px;
	position: absolute;
	border: grey solid 1px;
}
#div1{
	width: 56px; height: 29px;
	margin-top: 10px; margin-left: 1279px;
	position: absolute;
	border: grey solid 1px;
}
#div2{
	width: 186px; height: 28px;
	margin-top: 63px; margin-left: 21px;
	position: absolute;
	border: grey solid 1px;
}
#div3{
	width: 1056px; height: 79px;
	margin-top: 100px; margin-left: 269px;
	position: absolute;
	border: grey solid 1px;
}
#div4{
	width: 1060px; height: 511px;
	margin-top: 488px; margin-left: 267px;
	position: absolute;
	border: grey solid 1px;
}
#div5{
	width: 56px; height: 29px;
	margin-top: 544px; margin-left: 21px;
	position: absolute;
	border: grey solid 1px;
}
#img6{
	width: 850px; height: 264px;
	margin-top: 209px; margin-left: 372px;
	position: absolute;
	background: black;
}
#img7{
	width: 196px; height: 110px;
	margin-top: 535px; margin-left: 287px;
	position: absolute;
	background: black;
}
#img8{
	width: 196px; height: 110px;
	margin-top: 535px; margin-left: 493px;
	position: absolute;
	background: black;
}
#img9{
	width: 196px; height: 110px;
	margin-top: 535px; margin-left: 699px;
	position: absolute;
	background: black;
}
#img10{
	width: 196px; height: 110px;
	margin-top: 535px; margin-left: 905px;
	position: absolute;
	background: black;
}
#img11{
	width: 196px; height: 110px;
	margin-top: 535px; margin-left: 1111px;
	position: absolute;
	background: black;
}
#img12{
	width: 196px; height: 110px;
	margin-top: 791px; margin-left: 287px;
	position: absolute;
	background: black;
}
#img13{
	width: 196px; height: 110px;
	margin-top: 791px; margin-left: 493px;
	position: absolute;
	background: black;
}
#img14{
	width: 196px; height: 110px;
	margin-top: 791px; margin-left: 699px;
	position: absolute;
	background: black;
}
#img15{
	width: 196px; height: 110px;
	margin-top: 791px; margin-left: 905px;
	position: absolute;
	background: black;
}
#img16{
	width: 196px; height: 110px;
	margin-top: 791px; margin-left: 1111px;
	position: absolute;
	background: black;
}
