
.generated_container{
    width: 100%; height: 80%;
}
#div0{
	width: 650px; height: 30px;
	margin-top: 10px; margin-left: 229px;
	position: absolute;
	border: grey solid 1px;
}
#div1{
	width: 56px; height: 29px;
	margin-top: 10px; margin-left: 1279px;
	position: absolute;
	border: grey solid 1px;
}
#div2{
	width: 186px; height: 28px;
	margin-top: 63px; margin-left: 21px;
	position: absolute;
	border: grey solid 1px;
}
#div3{
	width: 1056px; height: 79px;
	margin-top: 100px; margin-left: 269px;
	position: absolute;
	border: grey solid 1px;
}
#div4{
	width: 1060px; height: 2005px;
	margin-top: 488px; margin-left: 267px;
	position: absolute;
	border: grey solid 1px;
}
#div5{
	width: 56px; height: 29px;
	margin-top: 544px; margin-left: 21px;
	position: absolute;
	border: grey solid 1px;
}
#div6{
	width: 75px; height: 29px;
	margin-top: 2442px; margin-left: 760px;
	position: absolute;
	border: grey solid 1px;
}
#div7{
	width: 162px; height: 29px;
	margin-top: 2557px; margin-left: 380px;
	position: absolute;
	border: grey solid 1px;
}
#div8{
	width: 132px; height: 29px;
	margin-top: 2557px; margin-left: 558px;
	position: absolute;
	border: grey solid 1px;
}
#div9{
	width: 143px; height: 29px;
	margin-top: 2557px; margin-left: 706px;
	position: absolute;
	border: grey solid 1px;
}
#div10{
	width: 76px; height: 29px;
	margin-top: 2557px; margin-left: 865px;
	position: absolute;
	border: grey solid 1px;
}
#div11{
	width: 66px; height: 29px;
	margin-top: 2557px; margin-left: 958px;
	position: absolute;
	border: grey solid 1px;
}
#img12{
	width: 850px; height: 264px;
	margin-top: 209px; margin-left: 372px;
	position: absolute;
	background: black;
}
#img13{
	width: 196px; height: 110px;
	margin-top: 535px; margin-left: 287px;
	position: absolute;
	background: black;
}
#img14{
	width: 196px; height: 110px;
	margin-top: 535px; margin-left: 493px;
	position: absolute;
	background: black;
}
#img15{
	width: 196px; height: 110px;
	margin-top: 535px; margin-left: 699px;
	position: absolute;
	background: black;
}
#img16{
	width: 196px; height: 110px;
	margin-top: 535px; margin-left: 905px;
	position: absolute;
	background: black;
}
#img17{
	width: 196px; height: 110px;
	margin-top: 535px; margin-left: 1111px;
	position: absolute;
	background: black;
}
#img18{
	width: 196px; height: 110px;
	margin-top: 791px; margin-left: 287px;
	position: absolute;
	background: black;
}
#img19{
	width: 196px; height: 110px;
	margin-top: 791px; margin-left: 493px;
	position: absolute;
	background: black;
}
#img20{
	width: 196px; height: 110px;
	margin-top: 791px; margin-left: 699px;
	position: absolute;
	background: black;
}
#img21{
	width: 196px; height: 110px;
	margin-top: 791px; margin-left: 905px;
	position: absolute;
	background: black;
}
#img22{
	width: 196px; height: 110px;
	margin-top: 791px; margin-left: 1111px;
	position: absolute;
	background: black;
}
#img23{
	width: 196px; height: 110px;
	margin-top: 1029px; margin-left: 287px;
	position: absolute;
	background: black;
}
#img24{
	width: 196px; height: 110px;
	margin-top: 1029px; margin-left: 493px;
	position: absolute;
	background: black;
}
#img25{
	width: 196px; height: 110px;
	margin-top: 1029px; margin-left: 699px;
	position: absolute;
	background: black;
}
#img26{
	width: 196px; height: 110px;
	margin-top: 1029px; margin-left: 905px;
	position: absolute;
	background: black;
}
#img27{
	width: 196px; height: 110px;
	margin-top: 1029px; margin-left: 1111px;
	position: absolute;
	background: black;
}
#img28{
	width: 196px; height: 110px;
	margin-top: 1267px; margin-left: 287px;
	position: absolute;
	background: black;
}
#img29{
	width: 196px; height: 110px;
	margin-top: 1267px; margin-left: 493px;
	position: absolute;
	background: black;
}
#img30{
	width: 196px; height: 110px;
	margin-top: 1267px; margin-left: 699px;
	position: absolute;
	background: black;
}
#img31{
	width: 196px; height: 110px;
	margin-top: 1267px; margin-left: 905px;
	position: absolute;
	background: black;
}
#img32{
	width: 196px; height: 110px;
	margin-top: 1267px; margin-left: 1111px;
	position: absolute;
	background: black;
}
#img33{
	width: 196px; height: 110px;
	margin-top: 1505px; margin-left: 287px;
	position: absolute;
	background: black;
}
#img34{
	width: 196px; height: 110px;
	margin-top: 1505px; margin-left: 493px;
	position: absolute;
	background: black;
}
#img35{
	width: 196px; height: 110px;
	margin-top: 1505px; margin-left: 699px;
	position: absolute;
	background: black;
}
#img36{
	width: 196px; height: 110px;
	margin-top: 1505px; margin-left: 905px;
	position: absolute;
	background: black;
}
#img37{
	width: 196px; height: 110px;
	margin-top: 1505px; margin-left: 1111px;
	position: absolute;
	background: black;
}
#img38{
	width: 196px; height: 110px;
	margin-top: 1743px; margin-left: 287px;
	position: absolute;
	background: black;
}
#img39{
	width: 196px; height: 110px;
	margin-top: 1743px; margin-left: 493px;
	position: absolute;
	background: black;
}
#img40{
	width: 196px; height: 110px;
	margin-top: 1743px; margin-left: 699px;
	position: absolute;
	background: black;
}
#img41{
	width: 196px; height: 110px;
	margin-top: 1743px; margin-left: 905px;
	position: absolute;
	background: black;
}
#img42{
	width: 196px; height: 110px;
	margin-top: 1743px; margin-left: 1111px;
	position: absolute;
	background: black;
}
#img43{
	width: 196px; height: 110px;
	margin-top: 1995px; margin-left: 287px;
	position: absolute;
	background: black;
}
#img44{
	width: 196px; height: 110px;
	margin-top: 1995px; margin-left: 493px;
	position: absolute;
	background: black;
}
#img45{
	width: 196px; height: 110px;
	margin-top: 1995px; margin-left: 699px;
	position: absolute;
	background: black;
}
#img46{
	width: 196px; height: 110px;
	margin-top: 1995px; margin-left: 905px;
	position: absolute;
	background: black;
}
#img47{
	width: 196px; height: 110px;
	margin-top: 1995px; margin-left: 1111px;
	position: absolute;
	background: black;
}
#img48{
	width: 196px; height: 110px;
	margin-top: 2233px; margin-left: 287px;
	position: absolute;
	background: black;
}
#img49{
	width: 196px; height: 110px;
	margin-top: 2233px; margin-left: 493px;
	position: absolute;
	background: black;
}
#img50{
	width: 196px; height: 110px;
	margin-top: 2233px; margin-left: 699px;
	position: absolute;
	background: black;
}
#img51{
	width: 196px; height: 110px;
	margin-top: 2233px; margin-left: 905px;
	position: absolute;
	background: black;
}
